.techfest1 {
    color: rgb(212, 212, 212);
    text-align: justify;
    line-height: 0.8cm;
    /* background: grey; */
}

.techfest1 img {
    float: right;
    padding: 30px;
    width: 400px;
}

.techfest1 h1 {
    padding: 20px 0px;
    font-size: 3em;
}

@media only screen and (max-width: 900px) {

    /* techfest1 paragraph css */

    .techfest1 {
        padding: 20px;
        margin: 0;
    }

    .techfest1 img {
        width: 90vw;
        padding: 0;
        float: none;
    }

    .techfest1 h1 {
        font-size: 2em;
    }
}