body h1{
  text-align: center;
  box-sizing: border-box;
  color: white;
  border: 2px solid white;
  border-right:0;
  border-left: 0;
  padding: 10px;
  background: linear-gradient(to right, #333, #222, #222, #333);
}
.techfest {
  color: rgb(212, 212, 212);
  line-height: 1.8;
  text-align: justify;
}

.techfest img {
  width: 400px;
}

.techfest h1 {
  font-size: 3em;
}

.techfest button {
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background: #333;
  border: 2px ridge black;
  font-weight: bold;
  transition: 0.3s;
}

.techfest button:hover {
  background: white;
  transition: 0.3s;
  color: black;
}

/* hod message  */

.hodmsg {
  padding-top: 30px;
}

.hodmsg img {
  float: left;
  padding: 40px 40px 10px 0px;
  width: 200px;
}

.hodmsg h1 {
  color: white;
  width: 100%;
  text-align: center;
  border: 2px solid white;
  border-right: 0;
  border-left: 0;
  padding: 10px;
  box-sizing: border-box;
}

.hodmsg p {
  color: rgb(212, 212, 212);
  text-align: justify;
  line-height: 0.8cm;
}


@media only screen and (max-width: 900px) {

  /* techfest paragraph css */

  /* .techfest {
    padding: 20px;
    margin: 0;
  } */

  .techfest img {
    width: 100%;
    padding: 0;
    float: none;
  }

  .techfest h1 {
    font-size: 2em;
  }

  /* hod message */
  .hodmsg h1{
    font-size: 1.7em;
  }

  .hodmsg img {
    width: 90%;
    height: auto;
    float: none;
  }
}